<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>User Create</h2>
</div>
<form class="form-horizontal" method="POST" action="/admin/users" novalidate>

    <%- include(viewPath('layouts/error-messages')) -%>

    <div class="form-group">
        <label for="name" class="control-label">Full Name</label>
        <input id="name" type="text" class="form-control" name="name" value="<%= old('name') %>" required autofocus="">
    </div>

    <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input id="email" type="email" class="form-control" name="email" value="<%= old('email') %>" required="">
    </div>

    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" type="password" class="form-control" name="password" required="">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">New User</button>
    </div>
</form>